body{
	background-color: #216DDF;
	color: white;
}
div{
	margin-top: 10px;
}
a:link{
	color: #F6FF00;
}
a:visited{
	color: #FFFFFF;
}
a:hover{
	color: #E2E2E2;
}
a:active {
    color: #FFFFFF;
}
.box{
	width:60%;
	margin-left:20%;
}
.headline{
	font-family: Courier;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}
.head_desc{
	font-size: 20px;
	text-align:center;
}
.legal_info{
	font-size: 20px;
	color: yellow;
	text-align: center;
}
.subtitle{
	font-family: Courier;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
.subsubtitle{
	font-family: Courier;
	font-size: 25px;
	font-weight: bold;
	text-align: left;
}
.detail{
	padding-left: 50px;
}